p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  width: 100%;
  margin: 0;
  padding-top: 56px;
  padding-left: 72px;
  background-color: white;
}

body, html {
  overflow-x: hidden;
}
